.navbar-brand {}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.jumbotron {
    color: #EAAA00;
    background-color: #002855;
    border-radius: 0;
}

.btn-primary {
    background-color: #EAAA00;
    border-color: #EAAA00;
}

.text-white {
    color: #fff;
}

.text-primary {
    color: #EAAA00;
}

.page-header {
    padding-top: 25px;
    padding-bottom: 50px;
}

.pv-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.ios7-switch+.large-switch {
    font-size: 36px;
}
