.navbar-brand {}

.navbar {
    background-color: #2C2A29;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.jumbotron {
    color: #EAAA00;
    background-color: #002855;
    border-radius: 0;
}

.btn-primary {
    background-color: #EAAA00;
    border-color: #EAAA00;
}

.text-white {
    color: #fff;
}
